:root {
  --SLATE: #434455;
  --IRIS: #4d5ae5;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE: #2e2f42;
  --WHITE: #ffffffff;
  --OCEAN: #404bbf;
  --CORNFLOWER: #e7e9fc;
  --text-font-family: "Roboto", sans-serif;
  --logo-font-family: "Raleway", sans-serif;
}
body {
  background-color: #ffffffff;
  color: #434455;
  font-family: var(--text-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
}

/* global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.nav-link::after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
 color: #404bbf;
}



/* container si flex general */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.display-flex {
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: 40px;
}
/* visual hiden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* logo section */

.header-section {
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo_webstudio {
  font-family: var(--logo-font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--IRIS), #4d5ae5;
  padding-top: 24px;
}

.child {
  list-style-type: none;
  gap: 40px;
}

.studio_icon {
  color: var(--NAVY-BLUE);
}

.list_item {color: #404bbf;
  /* color: var(--NAVY-BLUE), #2e2f42; */
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  text-decoration: none;
  color: var(--NAVY-BLUE);
}

.link:hover,
.link:focus {
  color: var(--OCEAN);
}

/* contact section */

.contact-info {
  padding-left: 130px;
}
.address-item {
  color: var(--SLATE), #434455;
  font-style: normal;
  display: flex;
  gap: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact_item {
  color: var(--SLATE), #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* title section */

.title_section {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--WHITE);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  width: 1440px;
  height: 600px;
  flex-shrink: 0;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
}

.title-efectiv-solution {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin: 0 auto;
}

/* buton section index */

.book_service_button {
  font-family: var(--text-font-family);
  background-color: var(--IRIS);
  color: var(--WHITE);
  margin: 0 auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  cursor: pointer;
  display: block;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.book_service_button:hover,
.book_service_button:focus {
  background-color: var(--OCEAN);
}

/* about section  */
.list {
  list-style: none;
  color: var(--SLATE), #434455;
}
.title-section-h {
  padding: 120px 0;
  display: flex;
}
.display-flex-about-section {
  display: flex;
  gap: 24px;
}

.div-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.about-section-title {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
  width: calc((100% - 72px) / 4);
  margin-bottom: 8px;
}

.paragraf-about-section {
  color: var(--SLATE);
  background-color: var(--WHITE);
  display: flex;
  width: 264px;
  height: 72px;
}

/* what we are doing section  */

.what-are-we-doing-section {
  padding-bottom: 120px;
}

.what-are-we-title {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

.what-are-we-doing-list {
  display: flex;
  gap: 24px;
}

.imag-list {
  flex-basis: calc(100% - 48px) / 3;
}

.images {
  display: block;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0, 0.2, 1);
}
.images:hover,
.images:focus {
  transform: translateY(0%);
}

/* our tem section */

.our_team_section {
  background-color: var(--CLOUD);
  padding: 120px 0;
  border-radius: 4px;
}

.team_title {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
  border-radius: 4px;
}
.image-background {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-and-post {
  padding-top: 32px;
  padding-bottom: 32px;
  padding: 32px 0;
  text-align: center;
  background-color: #ffffff;
  border-radius: 4px;
}
.our_team_subtitle {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  background-color: var(--WHITE), #ffffffff;
  text-align: center;
  margin-bottom: 8px;
}

.paragraf_item {
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  align-items: center;
  padding: 0;
}

.for-all-list {
  width: 40px;
  height: 40px;
}
.link-web {
  fill: #f4f4fd;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-web:hover {
  background-color: #404bbf;
}
.link-web:focus {
  background-color: #404bbf;
}
.svg-list {
  width: 16px;
  height: 16px;
}

/* costumer section */

.section-costumers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.costumer-title {
  font-size: 36px;
  line-height: 111.111%;
  color: #2e2f42;
  margin-bottom: 72px;
  font-family: Roboto;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.costumers-list {
  display: flex;
  gap: 24px;
  height: 88px;
  padding: 0;
}
.elements-list {
  width: calc((100% - 120px) / 6);
}
.elements-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.elements-link:hover,
.elements-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.svg-for-list {
  fill: currentColor;
}

/* footer section */

footer {
  background-color: var(--NAVY-BLUE);
  padding: 100px 0;
}
.footer-div {
  display: flex;
  align-items: baseline;
  padding-left: 56px;
}
.div-logo-footer {
  margin-right: 120px;
}

.logo_webstudio {
  color: var(--IRIS);
  display: inline-block;
  margin-bottom: 16px;
  margin-right: 76px;
}
.studio_item_foother {
  color: var(--CLOUD);
}
.footer_text {
  color: var(--CLOUD);
  width: 264px;
}
.div-social-media {
  display: flex;
  flex-direction: column;
}
.social-media-footer {
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #ffffffff;
  margin-bottom: 16px;
}

.social-links-footer {
  display: flex;
  gap: 16px;
  padding: 0;
}
.for-all-list-footer {
  width: 40px;
  height: 40px;
}

.link-web-footer {
  fill: #f4f4fd;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-web-footer:hover,
.link-web-footer:focus {
  background-color: #31d0aa;
}

/* portfolio */

.main-section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.button_allingment {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

/*  navigation menu */

.navi_menu {
  font-family: var(--text-font-family);
  color: var(--IRIS);
  background-color: var(--CLOUD);
  cursor: pointer;
  border: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navi_menu:hover,
.navi_menu:focus {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.buttons-portfolio {
  border: 1px solid transparent #e7e9fc;
  border-radius: 4px;
}

/* pictures section portfolio */

.img-list-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding-left: 0px;
}

.li.img-portfolio {
  width: calc((100% - 48px) / 3);
  display: block;
}
.img-portfolio:hover,
.img-portfolio:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.link-butons {
  text-decoration: none;
  color: var(--NAVY-BLUE);
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-butons:hover .paragraf-img,
.link-butons:focus .paragraf-img {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}
.img-div {
  position: relative;
  overflow: hidden;
}
.paragraf-img {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY( 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.div-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.subtitle_portfolio_img {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--NAVY-BLUE);
  margin-bottom: 8px;
}

.subtitle_paragraf {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--SLATE);
}
.subtitle_paragraf:hover,
.subtitle_paragraf:focus {
  transform: translateY(0%);
}
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
 height: 100%;
   width:100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

   
     
}

.modal-window-paragraf{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color:#2E2F42;
  margin-bottom: 16px;


}
.div-form{
   margin-bottom: 8px;

}

.div-class-input{
   position: relative;

}
.input-class{
  width: 100%;
  height: 40px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   border-radius: 4px;
   background-color: transparent;
   padding-left: 38px;
   outline: transparent;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  


}
.svg-inside-modal-window{
position: absolute;
left: 16px ;
top: 50%;
transform: translateY(-50%);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.input-class:focus {
  border-color: #4D5AE5;
   
}
.input-class:focus +.svg-inside-modal-window{
  fill: #4D5AE5;
}


.div-textarea{

  margin-bottom: 16px;

}
.textarea-class{
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
   background-color: transparent;
   padding: 8px 16px;
   outline: transparent;
   resize: none;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.textarea-class:focus{
  border-color: #4D5AE5;

}
.lable-div{
   margin-bottom: 24px;

}
.input-checkbox:checked + .lable-user-privacy .lable-span{
background-color: #404bbf;
border: none;
fill: #f4f4fd;
 

}
.lable-user-privacy{
   display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color:#8e8f99;
  

}
.lable-span{
 width: 16px;
 height: 16px;
 border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   display: inline-flex;
   align-items: center;
    justify-content: center;
     fill: transparent;
     margin-right: 8px;
     
}
.svg-class-label{

}
.link-policy{
 color: #4d5ae5;


}
.custom-button {
    margin-left: 100px ;
      display: block;
      min-width: 169px;
      height: 56px;
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #ffffff;
      cursor: pointer;
      background-color: #4D5AE5;
      border: none;
      border-radius: 4px;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.label-class{
   font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color:#8e8f99;
    display: block;
    margin-bottom: 4px;

}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events:none;
}
.inside-modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px 1px rgba( 0, 0, 0, 0.14), 0px 1px 3px rgba( 0, 0, 0, 0.12), 0px 2px 1px rgba( 0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   padding: 72px 24px 24px  24px;
}
.button-modal-window {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba( 0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-modal-window:hover,
.button-modal-window:focus {
  background-color: #404bbf;
  border: none;
  fill: var(--WHITE);
}
.svg-modal-window {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-modal-window:hover,
.svg-modal-window:focus {
  
}
 .subscribe-footer{
   line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #ffffffff;
  margin-bottom: 16px;
  margin-left: 80px;
  
 }
 
 
.button-subscribe{
 
min-width: 165px;
 height: 40px;
 display: flex;
 justify-content: center;
 align-items: center;
font-family: "Roboto", sans-serif;
 font-size: 16px;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing: 0.04em;
 color: #ffffff;
 cursor: pointer;
 border: none;
background-color: #4d5ae5;
 border-radius: 4px ;


}
 .svg-button{
  margin-left: 16px;
 }

.form-subscribe{
  display: flex;
  gap: 24px;
}

.input-label{
  width: 264px;
  height: 40px;
   border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-left: 80px;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      color: #ffffff ;
      padding-left: 16px;

}
.placeholder{
  color: #ffffff;
}